h2,
h3,
p {
  margin: 0;
  padding: 8px 0;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
