.flex {
  display: flex;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
